// .app {
//   text-align: center;
//   min-width: 288.2px;
// }
.app {
  text-align: center;
  min-width: 288.2px;
  .todo__label {
    width: 100%;
    @extend %flex-element-center-column;
    gap: 20px;
  }
  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    .todo {
      margin: 20px 0 20px 0;
      &__date-time {
        color: grey;
      }
      &__content .ant-card-body {
        display: grid;
        grid-template-areas:
          'input todo close'
          'date todo  change ';
        column-gap: 10px;
      }
      &__text {
        max-width: 100px;
        // word-break: break-all;
        display: flex;
        justify-content: center;
        grid-area: todo;
        hyphens: auto;
      }

      &__date-time {
        grid-area: date;
        flex-direction: column;
        div {
          font-size: 10px;
        }
      }
      &__checked-input {
        width: 20px;
        // max-width: 56px;
        grid-area: input;
      }
      &__close {
        grid-area: close;
      }
      &__change {
        grid-area: change;
      }
      &__text,
      &__date-time,
      &__checked-input,
      &__close,
      &__change {
        @extend %flex-element-center;
        margin: 5px 0 5px 0;
      }
    }
  }
}

// input:checked + span {
//   text-decoration: line-through;
// }
@media (min-width: 480px) {
  .todo__text {
    min-width: 250px;
  }
  .app {
    min-width: 388.2px;
    ul {
      .todo__date-time {
        div {
          font-size: 14px;
        }
      }
      .todo__checked-input {
        width: 56px;
      }
    }
  }
}

@media (min-width: 768px) {
  .todo__text {
    min-width: 400px;
    font-size: 20px;
  }
  .app {
    min-width: 588.2px;
    &__date-time {
      div {
        font-size: 14px;
      }
    }
  }
}
@media (min-width: 992px) {
  .todo__text {
    min-width: 600px;
    font-size: 20px;
  }
  .app {
    min-width: 800px;
    &__date-time {
      div {
        font-size: 14px;
      }
    }
  }
}
