body {
  background-color: white;
}
.dark {
  transition: background-color 0.2s ease-in-out;
  background-color: #252526;
  .ant-tooltip-inner {
    background-color: #2d2d2d;
  }
}
// .ant-modal .ant-modal-content {
//   background-color: rgba(109, 109, 109, 0.952);
// }

.app {
  border: 0.1px solid white;
  text-align: center;
  min-width: 317.81px;
  .todo__label {
    width: 100%;
    @extend %flex-element-center-column;
    gap: 20px;
  }
  .todo__text {
    width: 200px;
  }
  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    .todo {
      margin: 20px 0 20px 0;
      &__date {
        color: rgba(184, 184, 184, 0.7);
        // margin-top: 30px;
      }
      &__content .ant-card-body {
        display: grid;
        grid-template-areas:
          'input todo close'
          '. todo  change'
          '.  date  .';
        column-gap: 10px;
      }
      &__text {
        max-width: 100px;
        word-break: break-all;
        grid-area: todo;
        // hyphens: auto;
      }

      &__date {
        grid-area: date;
        flex-direction: column;
        div {
          font-size: 10px;
        }
      }
      &__checked-input {
        width: 20px;
        grid-area: input;
      }
      &__close {
        grid-area: close;
      }
      &__change {
        grid-area: change;
      }
      &__text,
      &__date,
      &__checked-input,
      &__close,
      &__change {
        @extend %flex-element-center;
        margin: 5px 0 5px 0;
      }
    }
  }
}

@media (min-width: 480px) {
  .todo__text {
    min-width: 250px;
  }
  .app {
    min-width: 456.2px;
    ul {
      .todo__date {
        div {
          font-size: 12px;
        }
      }
      // .todo__checked-input {
      //   width: 56px;
      // }
    }
  }
}

@media (min-width: 768px) {
  .todo__text {
    min-width: 400px;
    font-size: 20px;
  }
  .app {
    min-width: 606.2px;
    &__date {
      div {
        font-size: 14px;
      }
    }
  }
}
@media (min-width: 992px) {
  .todo__text {
    min-width: 600px;
    font-size: 20px;
  }
  .app {
    min-width: 806.2px;
    &__date {
      div {
        font-size: 14px;
      }
    }
  }
}
